/* Responsive Design for 390px */
@media (max-width: 390px) {
    body {
        padding: 10px;
        font-size: 14px;
    }
    .header-background {
        height: 150px;
        font-size: 18px;
    }
    .page1-menu {
        display: flex; 
        justify-content: center;
        align-items: center;
        text-align: center; 
        width: 100%;
    }
    #menu-container {
        width: 90%; 
        max-width: 300px;
        margin: 0 auto; 
        padding: 15px; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    }
    #menu-container {
        padding: 15px;
        margin: 10px;
    }
    #menu-container h2 {
        font-size: 16px;
        text-align: left;
    }
    #menu-container ul, p {
        font-size: 12px;
        text-align: left;
    }
    .menu-item {
        padding: 8px;
    }
    .item-header {
        font-size: 14px;
        flex-wrap: wrap; /* Allow text to wrap on smaller screens */
    }
    .item-description {
        font-size: 10px;
    }
    #cart-count img {
        width: 40px;
        height: 40px;
    }
    #cart-item-count {
        width: 20px;
        height: 20px;
        font-size: 12px;
        padding: 3px;
    }
    .cart-container {
        width: 100%; 
    }
    .cart-header {
        padding: 8px;
    }
    .cart-items li {
        font-size: 12px;
    }
    .cart-footer {
        padding: 10px;
    }
    .total {
        flex-direction: row; 
        font-size: 14px;
    }
    .total-info {
        align-items: center; 
    }
    .checkout-button {
        padding: 8px 15px;
        font-size: 12px;
    }
    .page3-order .container {
        width: 100%; 
        padding: 15px;
    }
    .page3-order h1 {
        font-size: 18px;
    }
    .page3-order .eta {
        font-size: 14px;
    }
    .page3-order button {
        font-size: 14px;
        padding: 8px 12px;
    }
    .receipt {
        width: 100%; 
        padding: 15px;
    }
    .receipt-number {
        font-size: 14px;
    }
    .items {
        font-size: 12px;
    }
    .item {
        font-size: 12px;
        flex-wrap: wrap;
    }
    .new-order-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 450px) and (min-width: 301px) {
    /* General styles */
    body {
        padding: 10px;
        font-size: 14px; 
    }

    .header-background {
        height: 150px;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 15px;
        font-size: 16px; 
    }

    /* ********** Page 1 : Menu ********** */
    .page1-menu {
        width: 100%;
        display: grid;
        place-items: center;
        color: white;
        padding: 10px;
    }
    #menu-container {
        background-color: #489078;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin: 10px;
        list-style-type: none;
        width: 100%;
    }
    #menu-container h2 {
        margin: 10px 0;
        font-size: 16px;
    }
    .menu-section ul {
        list-style: none;
    }
    .menu-item {
        background-color: #605758;
        border-radius: 6px;
        padding: 8px;
        margin-bottom: 8px;
        font-size: 12px; 
    }
    .item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item-description {
        font-size: 10px;
        margin-top: 5px;
    }
    #sauce-menu, #drink-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Shopping cart */
    #cart-count img {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
    #cart-count {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
    }
    #cart-item-count {
        font-size: 12px;
        width: 22px;
        height: 22px;
        padding: 3px;
        text-align: center;
    }
    #cart-details-button {
        background-color: #489078;
        border: none;
        padding: 5px 10px;
    }
    #food-menu:hover, #sauce-menu:hover, #drink-menu:hover {
        cursor: pointer;
    }

    /* ********** Page 2 : Shopping Cart ********** */
    .page2-shoppingCart {
        padding: 15px;
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
    }
    .cart-container {
        width: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    .cart-header {
        background-color: #f0f0f0;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }
    .cart-items li {
        font-size: 12px;
        padding: 8px;
    }
    .item-name {
        font-size: 14px;
    }
    .control-button {
        width: 18px;
        height: 18px;
    }
    .cart-footer {
        padding: 10px;
        background-color: #f0f0f0;
    }
    .checkout-button {
        font-size: 12px;
        padding: 8px 15px;
        width: 100%;
    }

    /* ********** Page 3 : Order ********** */
    .page3-order .container {
        width: 100%;
        padding: 15px;
        margin: 0;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .image img {
        width: 100%;
        height: auto;
    }
    .page3-order h1 {
        font-size: 18px;
    }
    .page3-order button {
        width: 100%;
        padding: 10px 12px;
        font-size: 14px;
        margin-top: 10px;
    }

    /* ********** Page 4 : Receipt ********** */
    .receipt {
        width: 100%;
        padding: 15px;
    }
    .receipt-number {
        font-size: 14px;
        color: #333;
        font-weight: bold;
        margin: 10px;
        text-align: center;
    }
    .items {
        margin-bottom: 10px;
    }
    .item {
        font-size: 12px;
        margin-bottom: 5px;
        border-bottom: 1px dashed #ccc;
    }
    .new-order-button {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }
}

/* General design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d9e7e4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.header-background {
    background-image: url(../IMG/poster.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
}

/* ********** Page 1 : Menu ********** */
.page1-menu {
    width: 100%;
    display: grid;
    place-items: center;
    color: white;
}
#menu-container {
    background-color: #489078;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    list-style-type: none;
}
#menu-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.menu-section {
    margin-bottom: 20px;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #4b8371;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;  
}
.menu-item h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.menu-item p {
    font-size: 14px;
    color: #d4e6de;
}
.menu-section ul {
    list-style: none;
    background-color: #605758;
    border-radius: 10px;
    padding: 10px;
}
.menu-section #sauce-menu li, #drink-menu li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 1;
    padding-top: 30px;
}
.menu-item, #sauce-menu, #drink-menu { /* color - background container */
    background-color: #605758;
}
#sauce-menu li, #drink-menu li { /* color - background container */
    background-color: #837e7b;
}
.menu-item:hover, #sauce-menu li:hover, #drink-menu li:hover { /* color - background container */
    background-color: #353130;
    cursor: pointer;
}
.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-description {
    font-size: 12px;
    margin-top: 5px;
}
#sauce-menu, #drink-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px; 
    margin: 10px; 
}
#food-menu {
    padding: 0; 
    margin: 0; 
    list-style: none; 
}
#food-menu li {
    margin: 0; 
    padding: 10px; 
    line-height: 1; 
    display: block; 
}

/* shopping cart */
#cart-count {
    position: relative; /* ทำให้ #cart-item-count อ้างอิงตำแหน่งจาก #cart-count */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    color: black;
}
#cart-count img {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 3px;
}
#cart-item-count {
    position: absolute; 
    top: -5px; 
    right: -5px; 
    color: white; 
    background-color: transparent; 
    border-radius: 50%; 
    padding: 5px; 
    width: 25px; 
    height: 25px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 12px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}
#cart-item-count.have-items {
    background-color: red; 
}
#cart-count img:active {
    animation: bounce 0.3s ease;
}
#cart-details-button {
    background-color: #489078;
    border: none;
}
#cart-details-button:hover {
    cursor: pointer;
}


/* ********** Page 2 : Shopping Cart ********** */
.page2-shoppingCart {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
/* Hides the cart when not active */
/*.page2-shoppingCart.hidden {
    display: none; 
}*/

.cart-container {
    width: 300px;
    max-width: 100%; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;  
}
/* Header styles */
.cart-header {
    background-color: #f0f0f0;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between; /* Align shopping cart icon to the right */
    border-bottom: 1px solid #ddd;
}
.closeCart {
    cursor: pointer;
    border-width: 0;
}
.shoppingCart-icon img {
    width: 50px;
    height: 50px;
}
/* Items in the cart */
.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}
.cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    position: relative; /* Allows positioning for "stycken" */
}
.control-button {
    background-color: rgb(160, 156, 156);
    border-radius: 50%;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: none;
}
.item-details {
    display: flex;
    flex-direction: column; 
}
.item-name {
    font-weight: bold; 
    font-size: large;
    margin-bottom: 20px; 
    padding-bottom: 10px; 
}
.item-quantity {
    font-size: 12px;
    margin-top: 3px; /* Moves "stycken" slightly down */
}
.item-price {
    font-weight: bold;
    text-align: right;
}
/* Footer styles */
.cart-footer {
    background-color: #f0f0f0;
    padding: 15px;
    border-top: 1px solid #ddd;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    background-color: darkgray;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 5px;
}
.total-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns text to the right */
    margin-top: 0;
}
.total-price {
    font-size: 16px;
}
.tax-info {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}
/* Checkout button */
.checkout-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.checkout-button:hover {
    background-color: #555;
}


/* ********** Page 3 : Order ********** */
.page3-order .container {
    background-color: #403d3d;
    width: 320px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    line-height: 30px;
}
.image img {
    width: 300px;
    height: 200px;
}
.page3-order h1 {
    font-size: 20px;
}
.page3-order .eta {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.page3-order button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.page3-order .receipt-button {
    background-color: #403d3d;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid white;
}
.page3-order .new-order-button {
    background-color: rgb(26, 23, 23);
    color: white;
    font-weight: bold;
    padding: 15px;
}


/* ********** Page 4 : Receipt ********** */
.page4-receipt {
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.logo {
    text-align: center;
}
.receipt {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.receipt-number {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.items {
    text-align: left;
    margin-bottom: 20px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.new-order-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.new-order-button:hover {
    background-color: #555;
}
.hidden {
  display: none;
}